Flask==3.1.0
fonttools==4.54.1
gitdb==4.0.11
GitPython==3.1.43
gunicorn==23.0.0
itsdangerous==2.2.0
joblib==1.4.2
markdown-it-py==3.0.0
matplotlib==3.9.2
mdurl==0.1.2
narwhals==1.13.5
numpy==2.1.2
openpyxl==3.1.5
pandas==2.2.3
patsy==1.0.1
pillow==11.0.0
plotly==5.24.1
requests==2.32.3
rich==13.9.4
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
streamlit==1.40.1
xgboost==2.1.1
category_encoders
gunicorn